#Title{
    color: rgba(255, 184, 28, 1);
    text-align: center;
    border: 2px solid white;
}
 
body {
    background-color: rgba(0, 53, 148, 1);
}

#picture {
    width: 224px;
    height: 224px;
    border: 1px solid black;
    text-align: center;
    transform:translate(0%,0%);
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.pill1 {
    
    border: 2px solid white;
    color: rgba(255, 184, 28, 1);
    text-align: center;
    transform:translate(0%,150%);
    margin: 0 auto;
}

.pill2 {

    border: 2px solid white;
    color: rgba(255, 184, 28, 1);
    text-align: center;
    transform:translate(0%,145%);
    margin: 0 auto;
}

.pill3 {
    border: 2px solid white;
    color: rgba(255, 184, 28, 1);
    text-align: center;
    transform:translate(0%,140%);
    margin: 0 auto;
}

#image {
    border:1px white;
    color: rgba(0, 53, 148, 1);
    background-color: rgba(255, 184, 28, 1);
    text-align: center;
    display: flex;
    transform:translate(0%, 150%);
    margin: 0 auto;
}

